Min_Five_Values/Schemas/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/schema" xmlns:tns="http://www.example.org/schema" elementFormDefault="qualified">

    <complexType name="minvalues">
    	<sequence>
    		<element name="minvalue" type="string" maxOccurs="unbounded" minOccurs="0"></element>
    	</sequence>
    </complexType>

    <element name="min" type="tns:minvalues"></element>

    <complexType name="minimum">
    	<sequence>
    		<element name="min" type="tns:minvalues" maxOccurs="unbounded" minOccurs="0"></element>
    	</sequence>
    </complexType>
</schema>