TotalOrdersAmount/Schemas/CustomerOrdersMapperInputSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:tibex="http://www.tibco.com/bpel/2007/extensions" xmlns:tns="http://www.tibco.com/namespaces/tnt/plugins/generalactivities/mapper/1683116213515" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/namespaces/tnt/plugins/generalactivities/mapper/1683116213515">
  <xsd:complexType name="customerorders">
    <xsd:sequence>
      <xsd:element name="customerid" type="xsd:int"/>
      <xsd:element name="orderprice" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="customerorders" tibex:source="bw.generalactivities.mapper"/>
</xsd:schema>
